[submodule "components/lvgl/lvgl"]
	path = components/lvgl/lvgl
	url = https://gitee.com/scriptiot/lvgl.git
[submodule "components/lvgl/lv_drivers"]
	path = components/lvgl/lv_drivers
	url = https://gitee.com/scriptiot/lv_drivers.git
	
